<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>
        <style type="text/css">
                body{
                    padding: 0;
                    font: 14px sans-serif;
                }    
                
                h2{
                    font-size: 1.2em;
                }
                
                .left-column{
                    background: #eee;
                    width: 250px;
                    padding: 5px;
                    float: left;
                    
                 }
                 
                 .right-column
                 {
                     margin-left: 265px;
                 }
                 
                 a:link, a:visited{
                     color: blue;
                 }
                 
                 form label{
                     display: block;
                 }
                 
                 form textArea
                 {
                     height: 300px;
                     width: 100%;
                 }
                 
                 form input[type=text]
                 {
                     width: 150px;
                 }
                 
                 .mark:link, .mark:visited
                 {
                     color:red;
                 }
                 
        </style>
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>